@font-face
{
    font-family: 'RobotoMono-Variable'; 
    src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}

body{
    margin: 0;
    background-color: whitesmoke;
    font-family: RobotoMono-Variable;
    color: #0B0A07;
}

a{
    text-decoration: none;
    color: #0B0A07;
}

a:hover{
    opacity: 0.75;
}

.menu{
    display: flex;
    padding: 10px;
}

.menu-item{
    font-size: 24px;
    padding: 16px 20px;
    text-transform: lowercase;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

main h1{
    font-weight: normal;
    text-transform: lowercase;
}

.users-list, .advertisement-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 40px;
}

.user-list-item, .advertisement-list-item{
    text-align: center;
    padding: 24px 28px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
}

.user-list-item h4, .advertisement-list-item h4{
    margin-bottom: 0;
}

.images{
    display: flex;
    margin-top: 40px;
}

.ads, .users{
    height: 300px;
    width: 400px;
    text-align: center;
}

.images img{
    width: 70%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.images img:hover{
    transition: all 0.7s;
    transform: scale(1.1);
}

footer{
    background-color: rgba(219, 218, 218, 0.705);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.3);
}

footer h2{
    font-weight: normal;
    margin: 0;
}

hr{
    border: 1px solid #0B0A07;
    margin: 0;
    width: 40%;
}

.socials, .contacts{
    display: flex;
    gap: 30px;
}

.contacts i{
    margin-right: 10px;
}

.footer-menu{
    display: flex;
    gap: 40px;
}

.footer-menu-item{
    font-size: 18px;
    text-transform: lowercase;

}